<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/inquisitor">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inqusitor - Детективное агенство</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/1ca93395ea.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header container">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <div class="container-fluid">
                <img class="me-lg-3 me-sm-2 me-1 logo" src="icons/logo.jpg" alt="logo">
                <p class="navbar-brand lh-1 text-center me-lg-5 me-md-4 me-sm-2 me-1 mb-0">Детективное агенство <wbr> Inqusitor <br><span class="text_info">Услуги частного сыска по России и странам СНГ</span></p>
                <div class="wrapper-contacts py-1 me-xl-3 me-lg-3 me-sm-0">
                    <!-- иконки -->
                    <div class="tel">
                        <i class="fa-solid fa-phone tel_icon"></i>
                        <a class="tel_num mb-1 me-sm-0" href="tel:+79999999999">+7(999)-999-99-99</a>
                    </div>
                    <div class="wrapper-contacts__icons-box icons">
                        <div class="icons__item">
                            <a href="#"><i class="fa-brands fa-skype"></i></a>
                        </div>
                        <div class="icons__item">
                            <a href="#"><i class="fa-brands fa-vk"></i></a>
                        </div>
                        <div class="icons__item">
                            <a href="#"><i class="fa-brands fa-telegram"></i></a>
                        </div>
                        <div class="icons__item">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <button class="navbar-toggler me-lg-4 gold" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav me-lg-0">
                        <li class="nav-item me-lg-3">
                            <a class="nav-link" href="#">О нас</a>
                        </li>
                        <li class="nav-item dropdown me-lg-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Услуги</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Для физических лиц</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Для юридических лиц</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Прочие</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item me-lg-3">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                        <li class="nav-item me-lg-3">
                            <a class="nav-link" href="#">Лицензии</a>
                        </li>
                    </ul>
                </div>

            </div>

        </nav>

    </header>

</body>
    <script src="js/bootstrap.bundle.min.js"></script>
</html>