.noselect {
  outline: none !important;
  border: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noselect *:focus {
  outline: 0;
  outline: none;
}

@font-face {
  font-family: Stolzl;
  src: url("../fonts/Stolzl-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Stolzl;
  src: url("../fonts/Stolzl-Light.ttf");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Stolzl;
  src: url("../fonts/Stolzl-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}
.gold {
  color: #e2c087;
}

.white {
  color: #ffffff;
}

.main-text {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5490196078);
  font-weight: regular;
}

body {
  font-family: Stolzl;
  background: url(../img/fon.jpg) center/cover no-repeat;
}

.container {
  padding: 0;
}

.main-header {
  margin-bottom: 4.4rem;
}

.navbar {
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar_content {
  background: #040404;
  display: flex;
  justify-content: space-between;
}
.navbar_content .name {
  margin-right: 1rem;
  white-space: normal;
}
.navbar_content .name .name_info {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5490196078);
  font-weight: light;
}
.navbar_content .logo {
  width: 50px;
}

.nav-link:hover {
  color: #e2c087;
}

.dropdown-menu {
  background: #ffffff;
  color: rgba(255, 255, 255, 0.5490196078);
}

.dropdown-item:active {
  background: rgba(255, 255, 255, 0.5490196078);
  color: rgba(255, 255, 255, 0.5490196078);
}

.dropdown-item:hover {
  background: #e2c087;
}

.wrapper-contacts {
  background: #040404;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}
.wrapper-contacts .tel_num {
  color: rgba(255, 255, 255, 0.5490196078);
  text-decoration: none;
}
.wrapper-contacts .tel_num:hover {
  color: #e2c087;
  text-decoration: underline;
}
.wrapper-contacts .tel_icon {
  color: #e2c087;
}

.icons {
  display: inline-flex;
  justify-content: center;
}
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #040404;
  border: 1px solid #e2c087;
  border-radius: 100px;
  margin-right: 17px;
}
.icons__item:last-child {
  margin-right: 0px;
}
.icons__item i {
  font-size: 1rem;
  color: #e2c087;
}

.article_content {
  height: 500px;
}

.article_content_bg {
  background: linear-gradient(rgba(4, 4, 4, 0.6), rgba(4, 4, 4, 0.8)), url(../img/main.jpg) left/cover no-repeat;
  position: relative;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  padding: 1rem 0 0 1rem;
  margin-bottom: 2.5rem;
}

h1 {
  width: 70%;
}

.article_content-text {
  width: 60%;
}

.button {
  background-color: #e2c087;
  color: #040404;
  border-radius: 15px;
}

.button:hover {
  box-shadow: 0 0 5px 5px rgba(226, 192, 135, 0.45);
}

.item-text {
  font-size: 1rem;
}

.item i {
  font-size: 2rem;
  font-weight: light;
}

.section {
  margin-bottom: 4.4rem;
}

.left_wrapper {
  text-align: justify;
}

.right_wrapper .item {
  display: flex;
  align-items: center;
}
.right_wrapper span {
  font-size: 3rem;
}
.right_wrapper p {
  margin-bottom: 0.8rem;
}
.right_wrapper i {
  font-size: 2.5rem;
}

.title_2 {
  font-size: 2rem;
  font-weight: light;
  color: rgba(255, 255, 255, 0.5490196078);
  text-align: center;
  margin: 0;
}

.second_section-title {
  margin-bottom: 1.8rem;
}

.btn-group .btn {
  color: #040404;
  background: #e2c087;
  border-radius: 10px;
}
.btn-group .btn-3 {
  margin: auto;
}
.btn-group .btn:hover {
  box-shadow: 0 0 5px 5px rgba(226, 192, 135, 0.45);
  transition: all 0.3s;
  background: #4d5154;
}

.card {
  background-color: #040404;
  text-align: center;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: all 0.8s;
  height: 100%;
  border-radius: 10px;
  padding-bottom: 1rem;
}
.card .card-title {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 1.25rem;
  font-weight: light;
  text-align: center;
  padding: 0.5rem;
  border: none;
  background: none;
  margin: auto;
  transition: 0.6s;
}
.card .card-text {
  margin-bottom: 1rem;
  color: #e2c087;
}
.card .serv-link {
  color: #040404;
  text-decoration: none;
  margin-bottom: 1rem;
  visibility: hidden;
}
.card .serv-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.card .card-footer {
  background: none;
  border: none;
}
.card .card-footer .button {
  border-radius: 7px;
}

.card::after {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5490196078), #040404);
  box-shadow: 0 0 5px 5px rgba(226, 192, 135, 0.45);
  color: #040404;
  border-radius: 10px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.8s;
}

.card:hover::after {
  opacity: 1;
}

.card:hover .card-title {
  color: #ffffff;
}
.card:hover .serv-link {
  visibility: visible;
}

#cards-2, #cards-3 {
  display: none;
}

.third_section .main-text {
  text-align: justify;
}
.third_section .lic-link {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1rem;
}
.third_section .lic-link:hover {
  color: #e2c087;
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .main-header {
    margin-bottom: 3rem;
  }
  .navbar_burger {
    margin-right: 0.4rem;
  }
  .name {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .name .name_1, .name .name_2 {
    display: block;
  }
  .name_info {
    display: none;
  }
  .tel_num {
    font-size: 0.8rem;
  }
  .wrapper-contacts__icons-box {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .main-header {
    margin-bottom: 3rem;
  }
  .navbar_burger {
    margin-right: 0.4rem;
  }
  .navbar_content {
    padding: 0;
  }
  .name {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0;
  }
  .name .name_1, .name .name_2 {
    display: block;
  }
  .name_info {
    display: none;
  }
  .tel_num {
    font-size: 0.8rem;
  }
}
@media (max-width: 487px) {
  .main-header {
    margin-bottom: 2rem;
  }
  .navbar_burger {
    margin-right: 0.4rem;
  }
  .name {
    font-size: 0.75rem;
  }
  .name .name_1, .name .name_2 {
    display: block;
  }
  .tel_num {
    font-size: 0.65rem;
  }
  .tel_icon {
    font-size: 0.5rem;
  }
}
@media (max-width: 375px) {
  .main-header {
    margin-bottom: 1rem;
  }
  .navbar_burger {
    margin-right: 0.4rem;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .logo {
    width: 40px;
  }
  .name {
    width: 90px;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .name .name_1, .name .name_2 {
    display: block;
  }
  .tel_num {
    font-size: 0.65rem;
  }
  .tel_icon {
    font-size: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */