.noselect {
  outline: none !important;
  border: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noselect *:focus {
  outline: 0;
  outline: none;
}

@font-face {
  font-family: Stolzl;
  src: url("../fonts/Stolzl-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Stolzl;
  src: url("../fonts/Stolzl-Light.ttf");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Stolzl;
  src: url("../fonts/Stolzl-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}
#btn-back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
  z-index: 10;
}

.btn-dark {
  border-radius: 30px;
  background: #e2c087;
  color: #040404;
  transition: all 0.3s;
}

.btn-dark:hover {
  background: none;
  border: 1px solid #e2c087;
}

.gold {
  color: #e2c087;
}

.white {
  color: #ffffff;
}

.main-text {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5490196078);
  font-weight: regular;
}

body {
  font-family: Stolzl;
  background: url(../img/fon.jpg) no-repeat;
  width: 100%;
}

.container {
  padding: 0;
}

.main-header {
  margin-bottom: 4.4rem;
  background: none;
}

.navbar {
  padding: 0;
  display: flex;
  justify-content: center;
  background: none;
}

.navbar_content {
  background: none;
  display: flex;
  justify-content: space-between;
}
.navbar_content .name {
  margin-right: 1rem;
  white-space: normal;
}
.navbar_content .name .name_info {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5490196078);
  font-weight: light;
}
.navbar_content .logo {
  width: 7rem;
  height: 7rem;
  filter: invert(100%);
}

.nav-link:hover {
  color: #e2c087;
}

.dropdown-menu {
  background: #ffffff;
  color: rgba(255, 255, 255, 0.5490196078);
}

.dropdown-item:active {
  background: rgba(255, 255, 255, 0.5490196078);
  color: rgba(255, 255, 255, 0.5490196078);
}

.dropdown-item:hover {
  background: #e2c087;
}

.wrapper-contacts {
  background: none;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}
.wrapper-contacts .tel_num {
  color: rgba(255, 255, 255, 0.5490196078);
  text-decoration: none;
}
.wrapper-contacts .tel_num:hover {
  color: #e2c087;
  text-decoration: underline;
}
.wrapper-contacts .tel_icon {
  color: #e2c087;
}

.icons {
  display: inline-flex;
  justify-content: center;
}
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #040404;
  border: 1px solid #e2c087;
  border-radius: 100px;
  margin-right: 17px;
}
.icons__item:last-child {
  margin-right: 0px;
}
.icons__item i {
  font-size: 1rem;
  color: #e2c087;
}

.article_content {
  height: 460px;
}

.article_content_bg {
  background: linear-gradient(rgba(4, 4, 4, 0.6), rgba(4, 4, 4, 0.8)), url(../img/main.jpg) right no-repeat;
  box-shadow: 0 0 8px 8px #040404 inset;
  background-size: auto 120%;
  position: relative;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  padding-left: 1rem;
  margin-bottom: 2.5rem;
}

h1 {
  width: 70%;
}

.article_content-text {
  width: 60%;
}

.button {
  background-color: #e2c087;
  color: #040404;
  border-radius: 10px;
  transition: all 0.3s;
}

.button:hover {
  background: none;
  color: #ffffff;
  border-color: #e2c087;
}

.item-text {
  font-size: 1rem;
}

.item i {
  font-size: 2rem;
  font-weight: light;
}

.section {
  margin-bottom: 4rem;
}

.left_wrapper {
  text-align: justify;
}

.right_wrapper .item {
  display: flex;
  align-items: center;
}
.right_wrapper span {
  font-size: 3rem;
}
.right_wrapper p {
  margin-bottom: 0.8rem;
}
.right_wrapper i {
  font-size: 2.5rem;
}
.right_wrapper img {
  width: 3.5rem;
}

.title_2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5490196078);
  text-align: start;
  margin: 0;
}

.second_section-title {
  margin-bottom: 1.8rem;
}

.modern {
  border-radius: 10px;
  background: #e2c087 !important;
  padding: 1px !important;
  transition: all 0.3s;
}

.btn-group.modern > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 0.3rem;
}

.btn-group.modern > .btn {
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #040404;
}

.btn-group.modern > .btn:hover {
  box-shadow: none;
  color: #ffffff;
  background: transparent;
}

.btn-group.modern > .btn-check:checked + .btn, .btn-group.modern > .btn-check:checked + .btn:hover {
  background: #040404;
  color: #ffffff;
}

.card {
  background: none;
  text-align: center;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: all 0.8s;
  height: 100%;
  border-radius: 10px;
  padding-bottom: 1rem;
}
.card .card-title {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 1.25rem;
  font-weight: light;
  text-align: center;
  padding: 0.5rem;
  border: none;
  background: none;
  margin: auto;
  transition: 0.6s;
}
.card .card-text {
  margin-bottom: 1rem;
  color: #e2c087;
}
.card .serv-link {
  color: rgba(255, 255, 255, 0.5490196078);
  text-decoration: none;
  margin-bottom: 1rem;
  visibility: hidden;
}
.card .serv-link:hover {
  color: #e2c087;
  text-decoration: underline;
}
.card .card-footer {
  background: none;
  border: none;
}
.card .card-footer .button {
  border-radius: 7px;
}

.card::after {
  color: #040404;
  border: 2px solid #e2c087;
  border-radius: 10px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
}

.card:hover::after {
  opacity: 1;
}

.card:hover {
  webkit-transform: translateY(-9px);
  transform: translateY(-9px);
}
.card:hover .card-title {
  color: #ffffff;
}
.card:hover .serv-link {
  visibility: visible;
}

#cards-2, #cards-3 {
  display: none;
}

.third_section {
  margin-bottom: 7.5rem;
}
.third_section .wrapper-content {
  width: 70%;
}
.third_section .wrapper-content .main-text {
  text-align: justify;
}
.third_section .wrapper-img {
  width: 40%;
  position: relative;
}
.third_section .wrapper-img img {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.third_section .lic-link {
  color: rgba(255, 255, 255, 0.5490196078);
  text-decoration: none;
  margin-bottom: 1rem;
}
.third_section .lic-link:hover {
  color: #e2c087;
  text-decoration: underline;
}

.fourth_section-content {
  background: none;
}

.fourth_section-form {
  width: 60%;
  background: none;
}
.fourth_section-form .form-control {
  background: none;
  color: rgba(255, 255, 255, 0.5490196078);
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.fourth_section-form .form-control:active, .fourth_section-form .form-control:focus {
  outline: rgba(226, 192, 135, 0.95) solid 0.1rem;
  border: none;
}
.fourth_section-form .text-form {
  color: rgba(255, 255, 255, 0.5490196078);
}

.form-bg {
  background: linear-gradient(rgba(4, 4, 4, 0.9), rgba(4, 4, 4, 0.8)), url(../img/mes.jpg) right no-repeat;
  background-size: auto 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.fifth_section {
  margin-bottom: 6rem;
}

.accordion {
  border-radius: 10px;
  background: none;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e2c087'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff8c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion .accordion-button {
  color: rgba(255, 255, 255, 0.5490196078);
  background: none;
  border: none;
}
.accordion .accordion-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
}
.accordion .accordion-button:hover {
  color: #ffffff;
  outline: rgba(226, 192, 135, 0.95) solid 0.01rem;
  border: none;
}
.accordion .accordion-button:checked {
  color: #ffffff;
}

.end {
  text-align: start;
  font-family: Stolzl;
}

.footer-content {
  margin-bottom: 3rem;
  background: none;
}
.footer-content .wrapper-logo {
  background: none;
}
.footer-content .wrapper-logo .ip {
  text-align: start;
  font-family: Stolzl;
  color: rgba(255, 255, 255, 0.5490196078);
}
.footer-content .footer-logo {
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
}
.footer-content .footer-logo .logo {
  height: 100%;
  filter: invert(100%);
}
.footer-content .footer-logo .title_2 {
  width: 400px;
  text-align: start;
  color: #ffffff;
}
.footer-content .footer-nav {
  padding-left: 5rem;
}
.footer-content .footer-nav .link {
  color: rgba(255, 255, 255, 0.5490196078);
  text-decoration: none;
  margin-bottom: 1rem;
}
.footer-content .footer-nav .link:hover {
  color: #e2c087;
  text-decoration: underline;
}
.footer-content .wrapper-contacts {
  background: none;
  padding-left: 5rem;
}

@media (max-width: 767.98px) {
  .main-header {
    margin-bottom: 3rem;
  }
  .navbar_burger {
    margin-right: 0.4rem;
  }
  .name {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .name .name_1, .name .name_2 {
    display: block;
  }
  .name_info {
    display: none;
  }
  .tel_num {
    font-size: 0.8rem;
  }
  .wrapper-contacts__icons-box {
    display: none;
  }
  .article_content_bg {
    background: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.7)), url(../img/main.jpg) left/cover no-repeat;
  }
}
@media (max-width: 575.98px) {
  .main-header {
    margin-bottom: 3rem;
  }
  .navbar_burger {
    margin-right: 0.4rem;
  }
  .navbar_content {
    padding: 0;
  }
  .name {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0;
  }
  .name .name_1, .name .name_2 {
    display: block;
  }
  .name_info {
    display: none;
  }
  .tel_num {
    font-size: 0.8rem;
  }
  .article_content_bg {
    background: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.7)), url(../img/main.jpg) left/cover no-repeat;
  }
}
@media (max-width: 487px) {
  .main-header {
    margin-bottom: 2rem;
  }
  .navbar_burger {
    margin-right: 0.4rem;
  }
  .name {
    font-size: 0.75rem;
  }
  .name .name_1, .name .name_2 {
    display: block;
  }
  .tel_num {
    font-size: 0.65rem;
  }
  .tel_icon {
    font-size: 0.5rem;
  }
  .article_content_bg {
    background: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.7)), url(../img/main.jpg) left/cover no-repeat;
  }
}
@media (max-width: 375px) {
  .main-header {
    margin-bottom: 1rem;
  }
  .navbar_burger {
    margin-right: 0.4rem;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .logo {
    width: 40px;
  }
  .name {
    width: 90px;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .name .name_1, .name .name_2 {
    display: block;
  }
  .tel_num {
    font-size: 0.65rem;
  }
  .tel_icon {
    font-size: 0.5rem;
  }
  .article_content_bg {
    background: linear-gradient(rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.7)), url(../img/main.jpg) left/cover no-repeat;
  }
}/*# sourceMappingURL=style.css.map */